.product {
  padding: 105px 0 120px;
  text-align: center;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px 30px;
  }

  .product-item {
    max-width: 370px;
    text-align: center;
    transition: all 0.3s;

    &--sale {
      .product-item__img-box::before {
        content: "SALE";
        @extend %btn;
        position: absolute;
        top: 25px;
        left: 25px;
        line-height: 1;
      }
    }

    &__img-box {
      position: relative;
      height: 370px;
      overflow: hidden;
      margin-bottom: 25px;
    }

    &__link-box {
      position: absolute;
      transition: all 0.3s;
      bottom: 50px;
      background-color: #fff;
      left: 0;
      right: 0;
      width: 220px;
      height: 50px;
      margin: 0 auto;
      border-radius: 22px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      transform: translateY(300%);
    }

    &__link--line::before,
    &__link--line::after {
      content: '';
      position: absolute;
      background-color: #ececec;
      width: 1px;
      height: 30px;
      top: 10px;
    }

    &__link--line::before {
      left: 70px;
    }

    &__link--line::after {
      right: 70px;
    }

    &__link {
      display: inherit;

      path {
        transition: all 0.3s;
      }
    }

    // &__link:hover {

    //   path {
    //     fill: $accent;
    //   }
    // }

    &__images {
      object-fit: cover;
    }

    &:hover {
      .product-item__link-box {
        transform: translateY(0)
      }
    }

    &__title {
      color: $title;
      padding: 15px 0 20px;
    }

    &__price {
      display: flex;
      justify-content: center;
      @extend %roboto-400;
    }

    &__new-price {
      padding: 0 12px;
      color: $title;
    }

    &__old-price {
      padding: 0 12px;
      text-decoration: line-through;
    }
  }

  &__link {
    text-transform: uppercase;
    color: $title;
    display: inline-block;
    border: 1px solid $accent;
    padding: 14px 27px;
    margin-top: 55px;
  }
}

.star {
  margin: 0 auto;
}